<!-- ? Get All Products -->
<section class="my-4">
  <input
    [(ngModel)]="searchTerm"
    type="search"
    placeholder="Search..."
    class="form-control mx-auto mb-4 w-50"
  />
  <div class="row g-4 justify-content-center">
    <div
      class="col-md-2"
      *ngFor="
        let product of products
          | search : searchTerm
          | paginate
            : {
                id: 'productPaginate',
                itemsPerPage: pageSize,
                currentPage: currentPage,
                totalItems: total
              }
      "
    >
      <div class="product position-relative">
        <span
          *ngIf="!wishListData.includes(product._id)"
          (click)="addTowish(product._id)"
          ><i class="fa-regular fa-heart heart"></i
        ></span>
        <span
          *ngIf="wishListData.includes(product._id)"
          (click)="removeProduct(product._id)"
          ><i class="fa-solid fa-heart heart2"></i
        ></span>
        <div
          [routerLink]="['/Ecommerce/details', product._id]"
          class="cursor-pointer"
        >
          <div class="p-2">
            <img
              [src]="product.imageCover"
              class="w-100"
              [alt]="product.title"
            />
          </div>
          <!--? Category Name -->
          <h5 class="h6 mt-1 text-danger">{{ product.category.name }}</h5>
          <!--? Product Name -->
          <h4 class="h6">
            {{ product.title | termtext : 2 }}
          </h4>
          <!--? Price -->
          <div class="d-flex justify-content-between align-items-center">
            <span class="font-sm">{{ product.price | currency : "USD" }}</span>
            <div>
              <i
                [class.rating-color]="product.ratingsAverage >= num"
                *ngFor="let num of [1, 2, 3, 4, 5]"
                class="fas fa-star"
              ></i>
              <span class="text-muted">{{ product.ratingsAverage }}</span>
            </div>
          </div>
        </div>
        <button
          #addTo
          (click)="addToCart(product._id, addTo)"
          class="btn-main mx-auto d-block w-100"
        >
          +Add To Cart
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <pagination-controls
      id="productPaginate"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      [maxSize]="9"
      [directionLinks]="true"
      [autoHide]="true"
      [responsive]="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</section>
