<section
  *ngIf="step1"
  class="mx-auto w-50 bg-main-light rounded shadow p-3 my-4"
>
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <label for="email">Email:</label>
    <input
      #emailInp
      [ngModel]="myEmail"
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
    />

    <div
      *ngIf="
        forgetForm.get('email')?.errors &&
        (forgetForm.get('email')?.touched || emailInp.value.length > 0)
      "
      class="alert alert-danger w-50 mx-auto text-center small mt-2"
    >
      <p *ngIf="forgetForm.get('email')?.getError('required')" class="m-0">
        Email is Required
      </p>
      <p *ngIf="forgetForm.get('email')?.getError('email')" class="m-0">
        Email InValid Format
      </p>
    </div>

    <button [disabled]="forgetForm.invalid" class="btn-main mt-3 w-100">
      Forget Password
    </button>
    <p
      *ngIf="userMsg"
      class="alert alert-danger p-1 mt-2 mx-auto w-75 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
</section>

<section
  *ngIf="step2"
  class="mx-auto w-50 bg-main-light rounded shadow p-3 my-4"
>
  <form [formGroup]="resetCode" (ngSubmit)="newCode()">
    <label for="resetCode">Reset Code:</label>
    <input
      #codeInp
      formControlName="resetCode"
      type="text"
      class="form-control"
      id="resetCode"
    />

    <div
      *ngIf="
        resetCode.get('resetCode')?.errors &&
        (resetCode.get('resetCode')?.touched || codeInp.value.length > 0)
      "
      class="alert alert-danger w-50 mx-auto text-center small mt-2"
    >
      <p *ngIf="resetCode.get('resetCode')?.getError('required')" class="m-0">
        Reset Code is Required
      </p>
      <p *ngIf="resetCode.get('resetCode')?.getError('minlength')" class="m-0">
        MinLength is 3 numbers
      </p>
    </div>

    <button [disabled]="resetCode.invalid" class="btn-main mt-3 w-100">
      Reset Code
    </button>
    <p
      *ngIf="userMsg"
      class="alert alert-danger p-1 mt-2 mx-auto w-75 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
  <button
    (click)="reSendAgain()"
    *ngIf="reSend"
    class="btn border border-1 border-success bg-info"
  >
    Resend Code
  </button>
</section>

<section
  *ngIf="step3"
  class="mx-auto w-50 bg-main-light rounded shadow p-3 my-4"
>
  <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
    <label for="resetPassword">Reset Password:</label>
    <input
      #resetPass
      formControlName="newPassword"
      type="password"
      class="form-control"
      id="resetPassword"
    />

    <div
      *ngIf="
        resetPassword.get('resetPassword')?.errors &&
        (resetPassword.get('resetPassword')?.touched ||
          resetPass.value.length > 0)
      "
      class="alert alert-danger w-50 mx-auto text-center small mt-2"
    >
      <p
        *ngIf="resetPassword.get('resetPassword')?.getError('required')"
        class="m-0"
      >
        Reset Password is Required
      </p>
      <p
        *ngIf="resetPassword.get('resetPassword')?.getError('pattern')"
        class="m-0"
      >
        Password must be at least 6 chars
      </p>
    </div>

    <button [disabled]="resetPassword.invalid" class="btn-main mt-3 w-100">
      Reset Password
    </button>
    <p
      *ngIf="userMsg"
      class="alert alert-danger p-1 mt-2 mx-auto w-75 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
</section>
