.detailsHeart1{
    font-size: 35px;
    position: absolute;
    top: 5px;
    z-index: 99;
    right: 5px;
    transition: right .7s;
    cursor: pointer;
}


.detailsHeart2{
    font-size: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #B80000 !important;
}
